## OS
.DS_Store

## Env files
.env
.env.*
!/env/example.env
env/local.env

## Logs
logs
*.log

## IDE
.idea/
.vscode/

## Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

## Build
dist/

## docs
docs/tomado_api.md

