/* Design tokens */

/* Primitive colors */
@theme {
    --color-white: #fafafa;
    --color-black: #0d1117;

    --color-tomato-50: #fff0ee;
    --color-tomato-100: #ffe2dc;
    --color-tomato-200: #ffc0b2;
    --color-tomato-300: #ff9a85;
    --color-tomato-400: #f56650;
    --color-tomato-500: #d04030;
    --color-tomato-600: #a82c20;
    --color-tomato-700: #7e1c14;
    --color-tomato-800: #56100c;
    --color-tomato-900: #300808;
    --color-tomato-950: #1c0404;

    --color-yellow-50: #faf7f2;
    --color-yellow-100: #f2ead9;
    --color-yellow-200: #e5d4b5;
    --color-yellow-300: #d4b985;
    --color-yellow-400: #c09a58;
    --color-yellow-500: #a67a38;
    --color-yellow-600: #856022;
    --color-yellow-700: #634818;
    --color-yellow-800: #43300e;
    --color-yellow-900: #261c07;
    --color-yellow-950: #150f04;

    --color-gray-50: #eef1f5;
    --color-gray-100: #dee3eb;
    --color-gray-200: #b9c4d7;
    --color-gray-300: #98aac4;
    --color-gray-400: #7c8fab;
    --color-gray-500: #64748b;
    --color-gray-600: #505d70;
    --color-gray-700: #3b4554;
    --color-gray-800: #272f39;
    --color-gray-900: #171c23;
    --color-gray-950: #0d1117;

    --color-red-50: #fef0f0;
    --color-red-100: #fcdede;
    --color-red-200: #fac8c8;
    --color-red-300: #f5a5a5;
    --color-red-400: #ee8888;
    --color-red-500: #d46060;
    --color-red-600: #aa4848;
    --color-red-700: #803636;
    --color-red-800: #5c2424;
    --color-red-900: #381414;
    --color-red-950: #200c0c;

    --color-blue-50: #eef2ff;
    --color-blue-100: #dee4ff;
    --color-blue-200: #c2ccfc;
    --color-blue-300: #a0b0f8;
    --color-blue-400: #7e96f0;
    --color-blue-500: #6278d8;
    --color-blue-600: #4660b8;
    --color-blue-700: #304890;
    --color-blue-800: #1e3068;
    --color-blue-900: #0e1a40;
    --color-blue-950: #070e28;

    --color-green-50: #f1f4f0;
    --color-green-100: #d8e5d9;
    --color-green-200: #b5ccba;
    --color-green-300: #8eb49a;
    --color-green-400: #6b9e7c;
    --color-green-500: #527b60;
    --color-green-600: #3d6048;
    --color-green-700: #2b4835;
    --color-green-800: #1a3020;
    --color-green-900: #0d1c12;
    --color-green-950: #060e09;
}

/* Semantic colors */
@theme {
    --color-neutral-subtle: var(--color-gray-50);
    --color-neutral-lighter: var(--color-gray-100);
    --color-neutral: var(--color-gray-300);
    --color-neutral-darker: var(--color-gray-500);

    --color-primary-subtle: var(--color-tomato-50);
    --color-primary-lighter: var(--color-tomato-100);
    --color-primary: var(--color-tomato-400);
    --color-primary-darker: var(--color-tomato-500);

    --color-warning-subtle: var(--color-yellow-50);
    --color-warning-lighter: var(--color-yellow-100);
    --color-warning: var(--color-yellow-300);
    --color-warning-darker: var(--color-yellow-400);

    --color-danger-subtle: var(--color-red-50);
    --color-danger-lighter: var(--color-red-100);
    --color-danger: var(--color-red-500);
    --color-danger-darker: var(--color-red-600);

    --color-info-subtle: var(--color-blue-50);
    --color-info-lighter: var(--color-blue-100);
    --color-info: var(--color-blue-500);
    --color-info-darker: var(--color-blue-600);

    --color-success-subtle: var(--color-green-50);
    --color-success-lighter: var(--color-green-100);
    --color-success: var(--color-green-400);
    --color-success-darker: var(--color-green-500);

    --color-heatmap-1: var(--color-tomato-50);
    --color-heatmap-2: var(--color-tomato-200);
    --color-heatmap-3: var(--color-tomato-300);
    --color-heatmap-4: var(--color-tomato-400);
    --color-heatmap-5: var(--color-tomato-500);

    --shadow-1: 0 0 20px rgba(0, 0, 0, 0.1);
    --shadow-2: 0 0 10px rgba(39, 37, 57, 0.07);
    --shadow-3: 0 0 5px rgba(39, 37, 57, 0.05);
}
